    <div class="container">
        <!--  <div class="table-responsive"> -->
<!-- <div class="table-responsive-sm"> -->
    <h2 class="text-center">Member List</h2>
    <table class="table table-dark table-stripped table-bordered table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Member Id</th>
                <th>Member Name</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Email Id</th>
                <th>Standard</th>
                <th>Course</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tbody>
                <tr *ngFor="let member of members | paginate: { itemsPerPage: count, currentPage: p }"> 
                <td> {{ member.memberid }} </td>
                <td> {{ member.membername }} </td>
                <td> {{ member.phoneno }} </td>
                <td> {{ member.address }} </td>
                <td> {{ member.emailid }} </td>
                <td> {{ member.standard }} </td>
                <td> {{ member.course }} </td>
                <td> <button type="button" class="btn btn-info" (click) = "updateRecord(member.memberid)">Update</button> </td>
                <td> <button type="button" class="btn btn-danger" (click) = "deleteRecord(member.memberid)">Delete</button> </td>
            </tr>
            <!--  -->
        </tbody>
    </table>
    <div class="text-right">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
