<div class="container">
    <h2 class="text-center">Books List</h2>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Author Name</th>
                <th>Publisher</th>
                <th>Category</th>
                <th>Book Topic</th>
                <th>Total Quantity</th>
                <th>Available Quantity</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td> {{ book.bookname }} </td>
                <td> {{ book.authorname }} </td>
                <td> {{ book.publisher }} </td>
                <td> {{ book.category }} </td>
                <td> {{ book.booktopic }} </td>
                <td> {{ book.totalquantity }} </td>
                <td> {{ book.availablequantity }} </td>
                <td><button type="button" class="btn btn-danger">Remove</button></td>

                <!-- <td>
                    <button (click) = "updateMember(member.memberid)" class="btn btn-info">Update</button>
                    <button (click) = "deleteMember(member.memberid)" class="btn btn-danger">Delete</button>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>

